<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu._05springmvc.mappers.UserInfoMapper">
    <insert id="insertUserInfo">







































        INSERT INTO userinfo(username,password,nickname,age)
        VALUES (#{username},#{password},#{nickname},#{age})
    </insert>
</mapper>